@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");

:root {
  /* Primary Dark*/
  --intro-email-bg: hsl(217, 28%, 15%);
  --main-bg: hsl(218, 28%, 13%);
  --footer-bg: hsl(216, 53%, 9%);
  --testimonials-bg: hsl(219, 30%, 18%);

  /* Primary Light */
  --intro-email-bg-light: #fff;
  --main-bg-light: #e5e5e5;
  --footer-bg-light: hsl(210, 93%, 83%);
  --testimonials-bg-light: hsl(219, 95%, 85%);

  /* Accent */
  --accent-cyan: hsl(176, 68%, 64%);
  --accent-blue: hsl(198, 60%, 50%);
  --accent-red: hsl(0, 100%, 63%);

  /* Neutral */
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-black: hsl(0, 0%, 10%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
  overflow-x: hidden;
  color: var(--neutral-white);
  background-color: var(--intro-email-bg);
  transition: background 0.4s linear, color 0.4s linear;
}

a {
  color: inherit;
}

/* Layout */
.layout {
  max-width: 1440px;
  margin: 0 auto;
}

.gen-content-container {
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .gen-content-container {
    max-width: 100%;
  }
}
